body {
	margin: 0;
	padding: 0;
	background: black;
	color: #F5F5F5;
	font-family: "sans";
}
p {
    max-width: 780px;
	margin: auto;
}
h1, h2, h3, h4, h5 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2vh;
	margin-top: 2vh;
}
h4 {
	margin-top: 1vh;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: 1vw;
}
a {
	color: #006B9F;
}
a:hover {
		color: #094561;
}
:target a {
	color: #959800;
}
.img-link a:hover {
	border: none;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
	margin-top: 1vh;
	width: 155px;
}
.icon {
	width: 77px
}
hr {
	border: 1px solid #1A1A1A;
}
ul {
    max-width: 780px;
	margin-left: auto;
	margin-right: auto;
}
table, th, td {
	text-align: center;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
    max-width: 780px;
}
td {
	padding-right: 10px;
	padding-left: 10px;
}
code {
	text-align: left;
	display: inline-block;
	font-family: Monospace;
	color: #890000;
	border: 1px solid #890000;
	margin: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
ol {
    max-width: 780px;
	margin-left: auto;
	margin-right: auto;
}
.big-code {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
    max-width: 500px;	
}
.nav {
	margin-top: 0.5vh;
	margin-left: 0.6vw;
	margin-right: 0.6vw;
}
.wide-nav {
	text-align: center;
}
.wide-nav a {
	margin-left: 5%;
	margin-right: 5%;
}
.nav a {
	text-decoration: none;
}
.green {
	color: #00981B;
}
.yellowgreen {
	color: #C8E63C;
}
.orange {
	color: #FF6100;
}
.case {
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 3vh;
	margin-top: 3vh;
}
.right {
	float: right;
}
.main {
	min-height: 60vh;
}
.sources {
	text-align: left;
}
.footer, .center {
	margin-top: 1vh;
	text-align: center;
}
